.icons {
    position: absolute;
    top: 50%;
    padding: 0 7%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 35px 0px;
    font-size: 23px;
    transition: all .6s;
}

.icons a {
    color: var(--text-color);
}

.icons i:hover {
    transform: translateY(-5px);
    color: var(--main-color);
}

.scroll {
    position: absolute;
    top: 92%;
    right: 7%;
    transform: translateY(-50%);
}

.scroll a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

.scroll i {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 0.6rem;
}